# Environment variables for Psyche Artwork Web Scraper
# Set these to your desired paths for artwork and database storage

# Directory where new art media and the CSV will be stored
INPUT_PATH=C:\Users\user\Downloads\Pscyhe Input

# Directory where artwork and database will be stored
OUTPUT_PATH=C:\Users\user\Downloads\Pscyhe Output